@model List<BoiPoka.Models.Books>

@{
	ViewData["Title"] = "Manage Books";
	//Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2 class="text-center">Manage Books</h2>
<div class="d-flex justify-content-center my-3 mt-5 gap-3">
	<a asp-controller="Books" asp-action="Create" class="btn btn-primary btn-lg shadow">
		Add New Book
	</a>
	<a asp-controller="Books" asp-action="CreateCategory" class="btn btn-primary btn-lg shadow">
		Add New Category
	</a>
</div>
<div class="my-3">
	<table class="table table-striped">
		<thead>
			<tr class="gap-2">
				<th>Title</th>
				<th>Description</th>
				<th>Author</th>
				<th>Price</th>
				<th>Stock Quantity</th>
				<th>Category</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var book in Model)
			{
				<tr class="m-1 gap-2 border-1 p-2">
					<td>@book.Title</td>
					<td>@book.Description</td>
					<td>@book.Author</td>
					<td class="bd-currency">@book.Price.ToString("C", new System.Globalization.CultureInfo("bn-BD"))</td>
					<td>@book.StockQuantity</td>
					<td>@book.Category</td>
					<td>@book.CreatedAt</td>
					<td>
						<div class="d-flex gap-2">
							<a asp-controller="Books" asp-action="Edit" asp-route-id="@book.BookId" class="btn btn-sm btn-primary mb-2">Edit</a>

							<form asp-action="Delete" asp-controller="Books" asp-route-id="@book.BookId" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this book?');">
								<button type="submit" class="btn btn-sm btn-danger">Delete</button>
							</form>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<div>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
	<style>
		.bd-currency {
			font-family: 'Noto Sans', sans-serif;
		}
	</style>
</div>