@model BoiPoka.Models.Order
@{
    ViewData["Title"] = "Your Order Details";
}
<h2>Your Order Details</h2>

<form asp-action="Checkout" asp-controller="Order" method="post">
    <div class="form-group">
        <label asp-for="ReceiverName"></label>
        <input type="text" asp-for="ReceiverName" class="form-control" required />
        <span asp-validation-for="ReceiverName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReceiverPhone"></label>
        <input type="number" asp-for="ReceiverPhone" class="form-control" required />
        <span asp-validation-for="ReceiverPhone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReceiverAddress"></label>
        <textarea asp-for="ReceiverAddress" class="form-control" rows="3" required></textarea>
        <span asp-validation-for="ReceiverAddress" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PaymentMethod"></label>
        <input type="text" asp-for="PaymentMethod" class="form-control" required />
        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="OrderDate" value="@DateTime.Now" />
    <input type="hidden" asp-for="OrderStatus" value="0" />
    <input type="hidden" asp-for="Subtotal" value="@Model.Subtotal"/>
    <input type="hidden" asp-for="DeliveryCharge" value="@Model.DeliveryCharge"/>
    <input type="hidden" asp-for="TotalAmount" value="@Model.TotalAmount" />

    <hr />
    <h4>Your Order Summary</h4>
    <div class="bd-currency">
        <p><strong>Total Book Price:</strong> @Model.Subtotal.ToString("C", new System.Globalization.CultureInfo("bn-BD"))</p>
        <p><strong>Delivery Charge:</strong> @Model.DeliveryCharge.ToString("C", new System.Globalization.CultureInfo("bn-BD"))</p>
        <p><strong>Grand Total:</strong> @Model.TotalAmount.ToString("C", new System.Globalization.CultureInfo("bn-BD"))</p>
    </div>
    <button type="submit" class="btn btn-primary">Place Order</button>
</form>
<div>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <style>
        .bd-currency {
            font-family: 'Noto Sans', sans-serif;
        }
    </style>
</div>